In [1]:
import os
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [2]:
demotivated_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/demotivated.csv',  sep='\t')
demotivated_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1361533965736103940,1361533965736103940,2021-02-16 10:02:48 Sri Lanka Standard Time,2021-02-16,10:02:48,530,1360752913212076032,praveen14594603,Praveen Kumar,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1361533645001924616,1361533261164531716,2021-02-16 10:01:31 Sri Lanka Standard Time,2021-02-16,10:01:31,530,1359226132860526595,rehaanredkar3,Rehaan Redkar,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'kunalstwt', 'name': 'Kunal K...",NaN,NaN,NaN,NaN
2,1361532514666381312,1361532514666381312,2021-02-16 09:57:02 Sri Lanka Standard Time,2021-02-16,09:57:02,530,1171847184641224706,aradhnameshram,_Oceannnnn _08_06,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1361531516728143875,1361531516728143875,2021-02-16 09:53:04 Sri Lanka Standard Time,2021-02-16,09:53:04,530,709246984025034752,nurshafiyyahh,kookieüßöüèª‚Äç‚ôÄÔ∏è‚Å∑,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1361531304177635332,1361531304177635332,2021-02-16 09:52:13 Sri Lanka Standard Time,2021-02-16,09:52:13,530,1079321499348029440,rubina01234,RUBINA DILAIK KI FAN,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [3]:
demotivated_tweets_df.drop(['hashtags','cashtags','thumbnail','source','user_rt','retweet_id','reply_to','retweet_date','translate','trans_src','trans_dest', 'timezone', 'name', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count','conversation_id'], axis = 1, inplace = True)
demotivated_tweets_df.head()

,id,date,time,username,tweet,language
0,1361533965736103940,2021-02-16,10:02:48,praveen14594603,"Sir, I'm a upsc aspirant but very demotivated ...",en
1,1361533645001924616,2021-02-16,10:01:31,rehaanredkar3,@kunalstwt This is actually the reality of 5th...,en
2,1361532514666381312,2021-02-16,09:57:02,aradhnameshram,"Felling deppressed , demotivated , sad , tired...",en
3,1361531516728143875,2021-02-16,09:53:04,nurshafiyyahh,i think all this usage of media and online pla...,en
4,1361531304177635332,2021-02-16,09:52:13,rubina01234,If you are behind someone you don't leave the ...,en

In [4]:
sl0_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/demotivated.csv',  sep='\t')
sl1_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/depression.csv',  sep='\t')
sl2_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/discouraged.csv',  sep='\t')
sl3_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/distressed.csv',  sep='\t')
sl4_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/empty.csv',  sep='\t')
sl5_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/exhausted.csv',  sep='\t')
sl6_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/hopeless.csv',  sep='\t')
sl7_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/insomnia.csv',  sep='\t')
sl8_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/lonely.csv',  sep='\t')
sl9_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/tired.csv',  sep='\t')


df_row_reindex = pd.concat([sl0_tweets_df,sl1_tweets_df,sl2_tweets_df,sl3_tweets_df,sl4_tweets_df,sl5_tweets_df,sl6_tweets_df,sl7_tweets_df,sl8_tweets_df,sl9_tweets_df], ignore_index=True)

df_row_reindex

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1361533965736103940,1361533965736103940,2021-02-16 10:02:48 Sri Lanka Standard Time,2021-02-16,10:02:48,530,1360752913212076032,praveen14594603,Praveen Kumar,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1361533645001924616,1361533261164531716,2021-02-16 10:01:31 Sri Lanka Standard Time,2021-02-16,10:01:31,530,1359226132860526595,rehaanredkar3,Rehaan Redkar,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'kunalstwt', 'name': 'Kunal K...",NaN,NaN,NaN,NaN
2,1361532514666381312,1361532514666381312,2021-02-16 09:57:02 Sri Lanka Standard Time,2021-02-16,09:57:02,530,1171847184641224706,aradhnameshram,_Oceannnnn _08_06,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1361531516728143875,1361531516728143875,2021-02-16 09:53:04 Sri Lanka Standard Time,2021-02-16,09:53:04,530,709246984025034752,nurshafiyyahh,kookieüßöüèª‚Äç‚ôÄÔ∏è‚Å∑,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1361531304177635332,1361531304177635332,2021-02-16 09:52:13 Sri Lanka Standard Time,2021-02-16,09:52:13,530,1079321499348029440,rubina01234,RUBINA DILAIK KI FAN,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67587,1361525217898557440,1361524199701897219,2021-02-16 09:28:02 Sri Lanka Standard Time,2021-02-16,09:28:02,530,1306478354271330305,eternalmemorias,Eru ü¶â | Tired ‚á® Semi Ia,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'ichiigomiruku', 'name': 'üçìü•õ'...",NaN,NaN,NaN,NaN
67588,1361525214245515264,1361525214245515264,2021-02-16 09:28:01 Sri Lanka Standard Time,2021-02-16,09:28:01,530,1088069769960529920,_imbaeby,NaahhGee,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
67589,1361525212790071297,1361522264571867146,2021-02-16 09:28:01 Sri Lanka Standard Time,2021-02-16,09:28:01,530,2192930442,afterjunetea,Tired,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'BRDXtraordinare', 'name': 'A...",NaN,NaN,NaN,NaN
67590,1361525212462874625,1361524623435825152,2021-02-16 09:28:01 Sri Lanka Standard Time,2021-02-16,09:28:01,530,1146838123047002112,stickyontwt,sticky ‚ù§,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
67591,1361525212345491456,1361398604569726976,2021-02-16 09:28:01 Sri Lanka Standard Time,2021-02-16,09:28:01,530,1350868398272622598,frontostriatal,tired bitch disease‚Ñ¢,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'warrior_ra', 'name': 'RAWarr...",NaN,NaN,NaN,NaN

In [5]:
depressive_one = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/depressive_dataset_final.csv',  encoding = "ISO-8859-1", header=None)
positive_one = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/positive_dataset_final.csv',  encoding = "ISO-8859-1", header=None)


df_row_reindex_new = pd.concat([depressive_one,positive_one], ignore_index=True)

df_row_reindex_new.head()

export_csv = df_row_reindex_new.to_csv(r'final_dataset.csv')

In [6]:
df_row_reindex.drop(['hashtags','cashtags','thumbnail','source','user_rt','retweet_id','reply_to','retweet_date','translate','trans_src','trans_dest', 'timezone', 'name', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count','conversation_id'], axis = 1, inplace = True)
df_row_reindex.head()

,id,date,time,username,tweet,language
0,1361533965736103940,2021-02-16,10:02:48,praveen14594603,"Sir, I'm a upsc aspirant but very demotivated ...",en
1,1361533645001924616,2021-02-16,10:01:31,rehaanredkar3,@kunalstwt This is actually the reality of 5th...,en
2,1361532514666381312,2021-02-16,09:57:02,aradhnameshram,"Felling deppressed , demotivated , sad , tired...",en
3,1361531516728143875,2021-02-16,09:53:04,nurshafiyyahh,i think all this usage of media and online pla...,en
4,1361531304177635332,2021-02-16,09:52:13,rubina01234,If you are behind someone you don't leave the ...,en

In [7]:
depressive_all_tweets_df = df_row_reindex.drop_duplicates()
export_csv = depressive_all_tweets_df.to_csv(r'all_the_depressive_tweets_final.csv')

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import collections
import re
import networkx as nx

import nltk
nltk.download(['punkt','stopwords'])
from nltk.corpus import stopwords
stopwords = stopwords.words('english')
from nltk import bigrams

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
sns.set(font_scale=1.5)
sns.set_style("whitegrid")
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
%config InlineBackend.figure_format = 'retina'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nimes\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nimes\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
pd.read_csv('E:/Project 5 credits/new/Sri Lanka/all_the_depressive_tweets_final.csv',  sep='\t')
df2 = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/all_the_depressive_tweets_final.csv',  sep='\t')

In [10]:
df2.isnull().any().any()

False

In [11]:
df2.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64212 entries, 0 to 64211
Data columns (total 1 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ,id,date,time,username,tweet,language  64212 non-null  object
dtypes: object(1)
memory usage: 501.8+ KB