In [1]:
import os
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [2]:
hopeless_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka.csv',  sep='\t')
hopeless_tweets_df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1314463232799563776,1314463232799563776,2020-10-09 12:40:30 Sri Lanka Standard Time,2020-10-09,12:40:30,530,3112391544,vishwamadu92,Vishwa Gunarathna,"{'type': 'Point', 'coordinates': [6.92135744, ...",...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1240137433057984512,1240137433057984512,2020-03-18 10:16:19 Sri Lanka Standard Time,2020-03-18,10:16:19,530,1206122519209619456,abishekchathura,Chathura Abishek,NaN,...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1238694003874422784,1238694003874422784,2020-03-14 10:40:39 Sri Lanka Standard Time,2020-03-14,10:40:39,530,721013272984485888,rasindubuddhika,Rasindu Buddhika Wijekoon,"{'type': 'Point', 'coordinates': [6.93445442, ...",...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1226173869117071360,1226173869117071360,2020-02-08 21:30:06 Sri Lanka Standard Time,2020-02-08,21:30:06,530,303098382,rumesh_udayanga,Rumesh Udayanga,NaN,...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,566255648091152384,566255648091152384,2015-02-13 20:50:41 Sri Lanka Standard Time,2015-02-13,20:50:41,530,2497627235,sanjeev007k,Sanjeev Khanthan,"{'type': 'Point', 'coordinates': [6.92199929, ...",...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [3]:
hopeless_tweets_df.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
hopeless_tweets_df.head()

,id,time,tweet,language,hashtags,cashtags,thumbnail,source,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1314463232799563776,12:40:30,Corona season comming soon!!!!! @ Union Place ...,en,[],[],NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1240137433057984512,10:16:19,Corona Holidays be like 👀 https://t.co/mBo1FY...,en,[],[],https://pbs.twimg.com/media/ETXaaGwWAAA4Pgf.jpg,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1238694003874422784,10:40:39,The_beginning_of_corona_vacation ;-) 😁 On_the_...,en,[],[],NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1226173869117071360,21:30:06,අවදානමට පෙර සූදානම 😔 #Coronavius #corona #lka ...,si,"['coronavius', 'corona', 'lka', 'srilanka']",[],https://pbs.twimg.com/media/EQQ-niDX0AENnvi.jpg,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,566255648091152384,20:50:41,Drinking Corona! Hell Yeah! #Corona #FeelingGr...,en,"['corona', 'feelinggreat', 'keg', 'bestbuddies']",[],NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
sl0_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka.csv',  sep='\t')
sl1_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka1.csv',  sep='\t')
sl2_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka2.csv',  sep='\t')
sl3_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka3.csv',  sep='\t')
sl4_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka4.csv',  sep='\t')
sl5_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka5.csv',  sep='\t')
sl6_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka6.csv',  sep='\t')
sl7_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka7.csv',  sep='\t')
sl8_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka8.csv',  sep='\t')
sl9_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka9.csv',  sep='\t')
sl10_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka10.csv',  sep='\t')
sl11_tweets_df = pd.read_csv('E:/Project 5 credits/new/Sri Lanka/srilanka11.csv',  sep='\t')


df_row_reindex = pd.concat([sl0_tweets_df,sl1_tweets_df,sl2_tweets_df,sl3_tweets_df,sl4_tweets_df,sl5_tweets_df,sl6_tweets_df,sl7_tweets_df,sl8_tweets_df,sl9_tweets_df,sl10_tweets_df,sl11_tweets_df], ignore_index=True)

df_row_reindex

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1314463232799563776,1314463232799563776,2020-10-09 12:40:30 Sri Lanka Standard Time,2020-10-09,12:40:30,530,3112391544,vishwamadu92,Vishwa Gunarathna,"{'type': 'Point', 'coordinates': [6.92135744, ...",...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1240137433057984512,1240137433057984512,2020-03-18 10:16:19 Sri Lanka Standard Time,2020-03-18,10:16:19,530,1206122519209619456,abishekchathura,Chathura Abishek,NaN,...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1238694003874422784,1238694003874422784,2020-03-14 10:40:39 Sri Lanka Standard Time,2020-03-14,10:40:39,530,721013272984485888,rasindubuddhika,Rasindu Buddhika Wijekoon,"{'type': 'Point', 'coordinates': [6.93445442, ...",...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1226173869117071360,1226173869117071360,2020-02-08 21:30:06 Sri Lanka Standard Time,2020-02-08,21:30:06,530,303098382,rumesh_udayanga,Rumesh Udayanga,NaN,...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,566255648091152384,566255648091152384,2015-02-13 20:50:41 Sri Lanka Standard Time,2015-02-13,20:50:41,530,2497627235,sanjeev007k,Sanjeev Khanthan,"{'type': 'Point', 'coordinates': [6.92199929, ...",...,"6.927079,79.861244,1km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1711,1351413865716854784,1351413865716854784,2021-01-19 11:49:08 Sri Lanka Standard Time,2021-01-19,11:49:08,530,339564751,newsfirstsl,Newsfirst.lk Sri Lanka,NaN,...,"6.927079,79.861244,100km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1712,1351387958180384768,1351387958180384768,2021-01-19 10:06:11 Sri Lanka Standard Time,2021-01-19,10:06:11,530,66329707,dailymirror_sl,DailyMirror,NaN,...,"6.927079,79.861244,100km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1713,1351368602302124035,1351368602302124035,2021-01-19 08:49:16 Sri Lanka Standard Time,2021-01-19,08:49:16,530,166981201,saksivarnan,Saksi™,NaN,...,"6.927079,79.861244,100km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1714,1351226918742458373,1351226918742458373,2021-01-18 23:26:16 Sri Lanka Standard Time,2021-01-18,23:26:16,530,1328786875151106050,jessica_svd,Jessica Van Dort,NaN,...,"6.927079,79.861244,100km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1715,1316032629259431936,1315994891898454016,2020-10-13 20:36:44 Sri Lanka Standard Time,2020-10-13,20:36:44,530,342615058,tirukuralkaram,Thaivabalan Balasundaram,NaN,...,"6.927079,79.861244,100km",NaN,NaN,NaN,NaN,"[{'screen_name': 'PierrePoilievre', 'name': 'p...",NaN,NaN,NaN,NaN

In [5]:
df_row_reindex.drop(['date', 'timezone', 'username', 'name', 'conversation_id', 'created_at', 'user_id', 'place', 'likes_count', 'link', 'retweet', 'quote_url', 'video', 'user_rt_id', 'near', 'geo', 'mentions', 'urls', 'photos', 'replies_count', 'retweets_count'], axis = 1, inplace = True)
df_row_reindex.head()

,id,time,tweet,language,hashtags,cashtags,thumbnail,source,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1314463232799563776,12:40:30,Corona season comming soon!!!!! @ Union Place ...,en,[],[],NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1240137433057984512,10:16:19,Corona Holidays be like 👀 https://t.co/mBo1FY...,en,[],[],https://pbs.twimg.com/media/ETXaaGwWAAA4Pgf.jpg,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1238694003874422784,10:40:39,The_beginning_of_corona_vacation ;-) 😁 On_the_...,en,[],[],NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1226173869117071360,21:30:06,අවදානමට පෙර සූදානම 😔 #Coronavius #corona #lka ...,si,"['coronavius', 'corona', 'lka', 'srilanka']",[],https://pbs.twimg.com/media/EQQ-niDX0AENnvi.jpg,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,566255648091152384,20:50:41,Drinking Corona! Hell Yeah! #Corona #FeelingGr...,en,"['corona', 'feelinggreat', 'keg', 'bestbuddies']",[],NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [6]:
depressive_twint_tweets_df = df_row_reindex.drop_duplicates()
export_csv = depressive_twint_tweets_df.to_csv(r'depressive_unigram_tweets_final.csv')